.d-none{
    display: none;
}
#Map{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    width: 90%;
    height: 90%;
}
#Map .fa-times{
    margin: 10px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    color: #888;
}
#Map .fa-times:hover{
    color: #555;
}
agm-map{
    width: 100%;
    height: 100%;
}








.container{
    font-family: 'poppins',sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    column-gap: 20px;
    padding: 2vh 2vw;
    position: relative;
}
/*-----------------------------------------------column-------------------------------------------------*/
.column{
    overflow-y: auto;
    width: 65%;
    border: 1px solid #111;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
/*-----------------------------------------------column-header-------------------------------------------------*/
.column .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column .header .title{
    font-size: 25px;
    font-weight: 600;
    user-select: none;
    color: #333;
}
.column .header button{
    padding: 10px;
    background-color: #00679b;
    color: #fff;
    border: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}
.column .no-contact{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column .no-contact span{
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    color: #666;
}
/*-----------------------------------------------column-orders-------------------------------------------------*/
.orders{
    width: 100%;
    height: 100%;
}
.orders-table{
    width: 100%;
}
.orders-table,tr,td,th{
    border: 1px solid #777;
    border-collapse: collapse;
}
.orders-table td{
    text-align: center;
    vertical-align: middle;
}
.orders-table td,.orders-table th{
    padding: 5px;
}
.orders-table td button{
    cursor: pointer;
    background: none;
    border: none;
    color: darkblue;
    text-decoration: underline;
    font-size: 16px;
}










/*-----------------------------------------------basket-------------------------------------------------*/
.basket{
    width: 30%;
    min-width: 350px;
    height: 100%;
    border: 1px solid #111;
    overflow-y: auto;
    padding: 20px;
    position: relative;
}
.basket .nothing{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.basket .nothing span{
    font-size: 20px;
    font-weight: 600;
    color: #777;
    user-select: none;
}
.basket .nothing a{
    color: darkblue;
    font-weight: 600;
    user-select: none;
    font-size: 14px;
    text-decoration: underline;
}
.basket .heading{
    font-size: 25px;
    font-weight: 600;
    user-select: none;
    color: #333;
}
.basket .restaurant{
    display: flex;
    column-gap: 10px;
    padding: 10px;
    user-select: none;
}
.basket .restaurant img{
    width: 50px;
    height: 50px;
    -webkit-user-drag: none;
}
.basket .restaurant .branch{
    color: #555;
    font-size: 14px;
}
/*-----------------------------------------------basket-items-------------------------------------------------*/
.basket .items{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.basket .items .item{
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
    display: flex;
    width: 100%;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}
.item button{
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}
.item button.plus{
    background-color: #00679b;
}
.item button.minus{
    background-color: #f00;
}
.item .details{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    column-gap: 10px;
}
.item .type{
    border: 1px solid rgb(0, 150, 12);
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
.item .type.non-veg{
    border: 1px solid #f00;
}
.item .type .circle{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 150, 12);
    border-radius: 50%;
    display: block;
}
.item .type .circle.non-veg{
    background-color: #f00;
}
/*-----------------------------------------------basket-bill-------------------------------------------------*/
.bill{
    width: 100%;
    margin: 20px 0;
    user-select: none;
}
.bill .title{
    font-weight: 600;
}
.bill div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bill button{
    width: 100%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 10px 0;
    background-color: #00679b;
    color: #fff;
}













.order_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    row-gap: 5px;
}




#Panel{
    font-family: 'poppins',sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}
#OtpForm{
    display: none;
    margin: 30px;
    padding: 30px 50px;
    background-color: #ffffff;
    flex-direction: column;
}
#OtpForm p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #333;
    font-weight: 600;
}
#OtpForm .input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}
#OtpForm .input-box input{
    width: 50px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
}
#OtpForm .input-box input::-webkit-outer-spin-button,
#OtpForm .input-box input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#OtpForm .group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#OtpForm .group small{
    color: #f00;
}
#OtpForm button{
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    border: none;
    background-color: #0175ad;
}
#OtpForm button:disabled{
    background-color: #5e91a0;
}



#ContactForm{
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    row-gap: 10px;
}
#ContactForm .group{
    display: flex;
    flex-direction: column;
    width: 350px;
}
#ContactForm .group input{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
    outline: none;
}
#ContactForm .group small{
    color: #f00;
}
#ContactForm button{
    width: 350px;
    padding: 10px;
    color: #fff;
    border: none;
    background: #0175ad;
    cursor: pointer;
    outline: none;
}
#ContactForm button:disabled{
    background-color: #5e91a0;
}


#PlaceOrder{
    display: none;
}

.form{
    user-select: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    min-width: 350px;
    width: 500px;
}
.form.small{
    min-height: 30vh;
}
.form .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
.form .title{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form .group select{
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.form .group.flex{
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.form .group .d-none{
    display: none;
}
.form .group label{
    font-size: 14px;
}
.form .group input[type='text'],
.form .group input[type='password'],
.form .group input[type="number"]{
    padding: 5px;
    outline: none;
    width: 100%;
}
.form .group input[type="number"]::-webkit-inner-spin-button,
.form .group input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.form .group small{
    color: #f00;
    font-size: 12px;
}
.form .group .password{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .group .password i{
    position: absolute;
    right: 5px;
}
.form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #555;
}
.form .buttons{
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}
.form .buttons input{
    padding: 10px;
    min-width: 80px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #156ae8;
}
.form input[type="submit"]:disabled{
    background: #5c93c5;
}
.form input[type="reset"]{
    background: #ff0000;
} 
.submitBtn{
    padding: 10px 0;
    width: 100%;
    background-color: #00679b;
    color: #fff;
    border: none;
    cursor: pointer;
}
.submitBtn:disabled{
    background-color: #3c87ac;
    cursor: default;
}
@media screen and (max-width:550px){
    .form{
        width: 350px;
    }
}
