<div class="container">

    <div class="column">

        <div class="header">
            <p class="title">Track Orders</p>
            <button (click)='toggleModel("ContactForm",true)'>Change Contact</button>
        </div>
        
        <div class="no-contact" *ngIf='!user.contact'>
            <span>Enter your contact to track orders.</span>
        </div>

        <div class="orders" *ngIf='user.contact'>
            <table class="orders-table">
                <tr>
                    <th>Recipient</th>
                    <th>Status</th>
                    <th>Price(&#8377;)</th>
                    <th></th>
                </tr>
                <tr *ngFor='let o of orders'>
                    <td>{{o.recipient_name}}</td>
                    <td>{{o.status}}</td>
                    <td>{{o.price}}</td>
                    <td><button>View Items</button></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="basket">

        <p class="heading">Checkout</p>
        
        <div class="restaurant" *ngIf='items.length>0'>
            <a routerLink="/assets/images/restaurants/{{restaurant.profile}}" target="_blank">
                <img src="/assets/images/restaurants/{{restaurant.profile}}" alt="Profile Pic">
            </a>

            <div class="details">
                <p class="name">{{restaurant.name}}</p>
                <p class="branch">{{branch.bname}}</p>
            </div>
        </div>

        <div class="nothing" *ngIf='!(items.length>0)'>
            <span>No items added yet!</span>
            <a routerLink="/">Click here to add food-items</a>
        </div>

        <div class="items" *ngIf='items.length>0'>
            <div *ngFor='let item of items' class="item">
                <button class="plus" (click)='manageQuantity(item.fid,true)'>
                    <i class="fas fa-plus"></i>
                </button>
                
                <div class="details">
                    <span [class.non-veg]='!item.vegeterian' class="type">
                        <span [class.non-veg]='!item.vegeterian' class="circle"></span>
                    </span>
                    <div style="display: flex;justify-content: space-between;width: 100%;">
                        <span>{{item.fname}}</span>
                        <span>
                            <span>* {{item.quantity}} </span>
                            <span>= {{item.price}}&#8377;</span>
                        </span>
                    </div>
                </div>

                <button class="minus" (click)='manageQuantity(item.fid,false)'>
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="bill" *ngIf='items.length>0'>
            <p class="title">Bill Details</p>
            <div>
                <span>Food Items Total:</span>
                <span>{{order1.price-delivery_charge}}&#8377;</span>
            </div>
            <div>
                <span>Delivery Charges:</span>
                <span>{{delivery_charge}}&#8377;</span>
            </div>
            <div>
                <span>To Pay:</span>
                <span>{{order1.price}}&#8377;</span>
            </div>
            <button (click)='toggleModel("PlaceOrder",true)'>Place Order</button>
        </div>

    </div>
    
</div>



<!-- Models -->
<div id="Panel">
    <div id="Map">
        <i (click)='toggleMap("Map","PlaceOrder",false)' class="fas fa-times"></i>
        <agm-map [latitude]='pos.lat' [longitude]='pos.lng' [fullscreenControl]='true' (mapClick)='changeLocation($event)'>
            <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
        </agm-map>  
    </div>

    <form id="PlaceOrder" #PlaceOrder='ngForm' (ngSubmit)='placeOrder()' class="form">
        <i class="fas fa-times close" (click)='toggleModel("PlaceOrder",false)'></i>
        <p class="title">Place Order</p>
        <div class="group">
            <label>Recipient Name:</label>
            <input type="text" #recipient_name='ngModel' pattern='[A-Za-z ]{1,30}' name='recipient_name' [(ngModel)]='order1.recipient_name' required>
            <div *ngIf='recipient_name.errors && recipient_name.touched'>
                <small *ngIf='recipient_name.errors.required'>Recipient name cannot be empty.</small>
                <small *ngIf='recipient_name.errors.pattern'>Field contains invalid characters.</small>
            </div>
        </div>
        <div class="group">
            <label>Contact:</label>
            <input type="number" pattern='[0-9]{10}' #contact1='ngModel' name='contact1' [(ngModel)]='order1.contact' required>
            <div *ngIf='contact1.errors && contact1.touched'>
                <small *ngIf='contact1.errors.required'>Contact cannot be empty.</small>
                <small *ngIf='contact1.errors.pattern'>Contact must be of 10 digits.</small>
            </div>
        </div>
        <div class="group">
            <span (click)='toggleMap("Map","PlaceOrder",true)'>Delivery Location: <i class="fas fa-map-marker-alt"></i></span>
        </div>
        <div class="group">
            <button class="submitBtn" [disabled]='PlaceOrder.invalid' type="submit">Submit</button>
        </div>
    </form>
    
    <div id="OtpForm">
        <p>Enter OTP</p>
        <div class="group">
            <div class="input-box">
                <input type="number" max="9" min="0" #otp1='ngModel' [(ngModel)]='otp[0]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp2='ngModel' [(ngModel)]='otp[1]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp3='ngModel' [(ngModel)]='otp[2]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp4='ngModel' [(ngModel)]='otp[3]' pattern="[0-9]{1}" required>
            </div>
            <small [class.d-none]='(otp1.valid && otp2.valid && otp3.valid && otp4.valid) || (otp1.untouched && otp2.untouched && otp3.untouched && otp4.untouched)'>OTP must contain at least 1 integer.</small>
        </div>
        <button [disabled]='!(otp1.valid && otp2.valid && otp3.valid && otp4.valid)' (click)='validateOtp()'>Submit</button>
    </div>

    <div id="ContactForm">
        <div class="group">
            <input type="text" name="contact" placeholder="Enter contact" pattern="[0-9]{10}" #contactValue #contact='ngModel' ngModel required>
            <div *ngIf='contact.errors'>
                <small *ngIf='contact.errors.pattern'>Contact must be of 10 digits.</small>
                <small *ngIf='contact.errors.required && contact.touched'>Contact cannot be empty.</small>
            </div>
        </div>
        <button (click)='toggleModel("ContactForm",false);toggleModel("OtpForm",true)' [disabled]='contact.errors'>Send OTP</button>
    </div>

</div>