.d-none{
    display: none;
}
#map{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    width: 100%;
    height: 100%;
}
#map .fa-times{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    color: #888;
}
#map .fa-times:hover{
    color: #555;
}
agm-map{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins',sans-serif;
    height: 100vh;
    column-gap: 20px;
    padding: 5vh 2.5vw;
}
.container .column{
    width: 65%;
    border: 1px solid #111;
    height: 100%;
    padding: 20px;
}
.orders-table{
    width: 100%;
}
.container .column .contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.contact-form .group{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.contact-form .group input{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
    outline: none;
}
.contact-form .group small{
    color: #f00;
}
.contact-form button{
    width: 350px;
    padding: 10px;
    color: #fff;
    border: none;
    background: #0175ad;
    cursor: pointer;
    outline: none;
}
.contact-form button:disabled{
    background-color: #5e91a0;
}
.container .basket{
    width: 35%;
    height: 100%;
    border: 1px solid #111;
    overflow: hidden;
    position: relative;
}
.container .basket .header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #111 1px solid;
}
.container .basket .header .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    column-gap: 10px;
}
.container .basket .items .item{
    margin: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.item .type{
    border: 1px solid rgb(0, 150, 12);
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
.item .type.non-veg{
    border: 1px solid #f00;
}
.item .type .circle{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 150, 12);
    border-radius: 50%;
    display: block;
}
.item .type .circle.non-veg{
    background-color: #f00;
}
.order_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    row-gap: 5px;
}
.bill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    row-gap: 5px;
}




#Panel{
    font-family: 'poppins',sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}
#OtpForm{
    display: none;
    margin: 30px;
    padding: 30px 50px;
    background-color: #ffffff;
    flex-direction: column;
}
#OtpForm p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #333;
    font-weight: 600;
}
#OtpForm .input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}
#OtpForm .input-box input{
    width: 50px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
}
#OtpForm .input-box input::-webkit-outer-spin-button,
#OtpForm .input-box input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#OtpForm .group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#OtpForm .group small{
    color: #f00;
}
#OtpForm button{
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    border: none;
    background-color: #0175ad;
}
#OtpForm button:disabled{
    background-color: #5e91a0;
}