<div class="container">

    <div class="column">

        <div class="contact-form" *ngIf='!user.contact'>
            <div class="group">
                <input type="text" name="contact" placeholder="Enter contact" pattern="[0-9]{10}" #contactValue #contact='ngModel' ngModel required>
                <div *ngIf='contact.errors'>
                    <small *ngIf='contact.errors.pattern'>Contact must be of 10 digits.</small>
                    <small *ngIf='contact.errors.required && contact.touched'>Contact cannot be empty.</small>
                </div>
            </div>
            <!-- <button [disabled]='contact.errors' (click)='assignContact(contact.value)'>Submit</button> -->
            <button (click)='toggleModel("OtpForm",true)' [disabled]='contact.errors'>Send OTP</button>
        </div>

        <div class="orders" *ngIf='user.contact'>
            <table class="orders-table">
                <tr>
                    <th>Recipient</th>
                    <th>Status</th>
                    <th>Price(&#8377;)</th>
                    <th></th>
                </tr>
                <tr *ngFor='let o of orders'>
                    <td>{{o.recipient_name}}</td>
                    <td>{{o.status}}</td>
                    <td>{{o.price}}</td>
                    <td><button>View More</button></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="basket">

        <div class="header" *ngIf='rname'>
            <a routerLink='/Restaurants/{{rname}}' class="left">{{rname}}</a>
        </div>

        <div class="nothing" *ngIf='!(items.length>0)'>
            <span>No items</span>
        </div>
        <div class="items" *ngIf='items.length>0'>
            <div *ngFor='let item of items' class="item">
                <span [class.non-veg]='!item.vegeterian' class="type">
                    <span [class.non-veg]='!item.vegeterian' class="circle"></span>
                </span>
                <span>{{item.fname}}</span>
                <span>{{item.price}}&#8377;</span>
                <div class="quantity">
                    <button (click)='manageQuantity(item.fid,true)'>+</button>
                    <span>{{item.quantity}}</span>
                    <button (click)='manageQuantity(item.fid,false)'>-</button>
                </div>
            </div>

            <div class="bill">
                <span class="items_total">Food Items Total:{{order1.price-delivery_charge}}&#8377;</span>
                <span class="delivery_charges">Delivery Charges:{{delivery_charge}}&#8377;</span>
                <span class="total">To Pay:{{order1.price}}&#8377;</span>
            </div>
            
            <form #PlaceOrder='ngForm' (ngSubmit)='placeOrder()' class="order_details">
                <input type="text" placeholder="Enter Recipient's name" pattern='[A-Za-z ]{1,30}' name='recipient_name' [(ngModel)]='order1.recipient_name' required>
                <input type="number" pattern='[0-9]{10}' placeholder="Enter Recipient's Contact" name='contact' [(ngModel)]='order1.contact' required>
                <span (click)='toggleModel("map",true)'>Delivery Location: <i class="fas fa-map-marker-alt"></i></span>
                <button [disabled]='PlaceOrder.invalid' type="submit">Place Order</button>
            </form>
        </div>

        
    </div>

</div>



<!-- Models -->
<div id="map">
    <i (click)='toggleMap("map",false)' class="fas fa-times"></i>
    <agm-map [latitude]='pos.lat' [longitude]='pos.lng' [fullscreenControl]='true' (mapClick)='changeLocation($event)'>
        <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
    </agm-map>  
</div>
<div id="Panel">
    <div id="OtpForm">
        <p>Enter OTP</p>
        <div class="group">
            <div class="input-box">
                <input type="number" max="9" min="0" #otp1='ngModel' [(ngModel)]='otp[0]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp2='ngModel' [(ngModel)]='otp[1]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp3='ngModel' [(ngModel)]='otp[2]' pattern="[0-9]{1}" required>
                <input type="number" max="9" min="0" #otp4='ngModel' [(ngModel)]='otp[3]' pattern="[0-9]{1}" required>
            </div>
            <small [class.d-none]='(otp1.valid && otp2.valid && otp3.valid && otp4.valid) || (otp1.untouched && otp2.untouched && otp3.untouched && otp4.untouched)'>OTP must contain at least 1 integer.</small>
        </div>
        <button [disabled]='!(otp1.valid && otp2.valid && otp3.valid && otp4.valid)' (click)='validateOtp()'>Submit</button>
    </div>
</div>