.d-none{
    display: none;
}
#map{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    width: 100%;
    height: 100%;
}
#map .fa-times{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    color: #888;
}
#map .fa-times:hover{
    color: #555;
}
agm-map{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'poppins',sans-serif;
    height: 100vh;
    padding: 5vh 0;
}
.container .basket{
    width: 90%;
    height: 100%;
    border: 1px solid #111;
    overflow: hidden;
    position: relative;
}
.container .basket .header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #111 1px solid;
}
.container .basket .header .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    column-gap: 10px;
}
.container .basket .items .item{
    margin: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.item .type{
    border: 1px solid rgb(0, 150, 12);
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
.item .type.non-veg{
    border: 1px solid #f00;
}
.item .type .circle{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 150, 12);
    border-radius: 50%;
    display: block;
}
.item .type .circle.non-veg{
    background-color: #f00;
}
.order_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    row-gap: 5px;
}
.bill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    row-gap: 5px;
}




#Panel{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    display: none;
}