<form>
    <h1>Register page</h1><br>
    <input type="text" name="username" [(ngModel)]="user.username" placeholder="Enter Username" required><br>
    <input type="password" name="password" [(ngModel)]="user.password" placeholder="Enter Password" required><br>
    <input type="text" name="fullname" [(ngModel)]="user.fullname" placeholder="Enter Fullname" required><br>
    <input type="text" name="email" [(ngModel)]="user.email" placeholder="Enter Email"><br>
    <textarea name="address" cols="30" rows="8" placeholder="Enter Address" [(ngModel)]="user.address"></textarea><br>
    <input type="submit" value="Register" (click)="saveUser()"><br>
    <a routerLink='/Authentication/Login'>Login</a>
</form>