<header>
    <div class="logo">
        <a routerLink="/">
            <img src="assets/images/logo.jpg" alt="logo-icon">
        </a>
    </div>
    <div class="icons">

        <a class="user-icon" *ngIf='user.role==="Vendor"' title="User Profile" routerLink='/Profile/Restaurant'><i class="fas fa-user-cog"></i></a>
        <a class="user-icon" *ngIf='user.role==="Delivery"' title="User Profile" routerLink='/Profile/Delivery'><i class="fas fa-user-cog"></i></a>
        <a class="user-icon" *ngIf='user.role==="Customer"' title="Basket" routerLink='/My-Basket'><i class="fas fa-shopping-basket"></i></a>
        <a class="user-icon" *ngIf='user.role==="Admin"' title="Profile" routerLink='/Admin'><i class="fas fa-user-cog"></i></a>

        <!-- Do it later -->
        <!-- <i class="fas fa-search" title="Search Items" (click)='toggleSearchBar()' *ngIf='user.role==="Customer"'></i> -->
        
        <div class="auth">
            <a *ngIf="!loggedIn" routerLink="/Login" title="Login"><i class="fas fa-sign-in-alt"></i></a>
            <a *ngIf="loggedIn" routerLink="/Login" title="Logout" (click)='logout()'><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <div id="searchbar">
        <select name="cat" #cname id="cat" (change)='getKeywordsByCategory()'>
            <option value="All">All</option>
            <option value="{{cname}}" *ngFor='let cname of categories'>{{cname}}</option>
        </select>
        <input type="text" #searchbar name="searchbar" id="search-input" placeholder="Enter something..." (keyup)='toggleSearchResultModel()'>
        <div id="SearchResult">
            <a (click)='reload()' routerLink="/Items/{{k}}" *ngFor='let k of resultedKeywords'> 
                <div class="searchedItem">{{k}}</div>
            </a>
        </div>
    </div>
</header>