<app-header></app-header>
<div class="container">
    <div class="header">
        <div class="left">
            <a routerLink="/Profile/My-Basket"><i class="fas fa-arrow-left"></i></a>
            <span class="name">{{order.name}}</span>
        </div>
        <button style='background: #3b82c5' *ngIf='order.status=="Unsubmitted"' (click)='placeOrder(true)'>Place Order</button>
        <button style='background: #f00' *ngIf='!(order.status=="Unsubmitted")' (click)='placeOrder(false)'>Cancel Order</button>
    </div>
    <div class="items">
        <p *ngIf='!(food_items.length>0)' class="nothing">No Items Added!</p>
        <div *ngFor='let item of food_items' class="item">
            <div class="type">
                <div *ngIf='item.vegeterian' class="veg"></div>
                <div *ngIf='!item.vegeterian' class="nonveg"></div>
            </div>
            <div class="img">
              <img src="assets/images/food_items/{{item.pic}}" alt="{{item.pic}}">  
            </div>
            <div class="row">
                <span class="cname">{{item.cname}}</span>
                <span class="price">{{item.price}}&#8377;</span>
            </div>
            <div class="name">{{item.fname}} X {{item.quantity}}</div>
            <button (click)='removeFoodItemFromOrder(item.fid)'>Remove</button>
        </div>
    </div>
</div>