<div class="container">
    <div class="topbar">
        <span>Orders</span>
        <select #restSelect (change)='getRestaurantPlacedOrdersByBranch(restSelect.value)'>
            <option value="{{branch}}" *ngFor='let branch of branches'>{{branch}}</option>
        </select>
    </div>
    <div class="map" *ngIf='orders.length>0'>
        <agm-map id="map" [latitude]='pos.lat' [longitude]='pos.lng' [zoom]='12' [fullscreenControl]='true'>
            <agm-marker [latitude]='o.destination.substring(0,o.destination.indexOf(","))' 
                [longitude]='o.destination.substring(o.destination.indexOf(",")+1,o.destination.length)'
                *ngFor='let o of orders'>
                <agm-info-window>
                    <a class="view-more" (click)='order=o;getItemsOfOrder()' class='viewBtn'>View More</a>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <div class="nothing" *ngIf='!(orders.length>0)'>
        <span>No Orders</span>
    </div>
    <div class="order" *ngIf='order.oid!==0'>
        <p class="message" *ngIf='cnt>0'>This order consist of {{cnt}} <strong>Out Of Stock</strong> <span *ngIf='cnt>1'> items</span><span *ngIf='!(cnt>1)'> item</span>.</p>
        <div class="table">
            <table class="items" *ngIf='items.length>0'>
                <tr>
                    <th>Item Name</th>
                    <th>Price(&#8377;)</th>
                    <th>Quantity</th>
                    <th>Ingredients</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor='let item of items' [class.out-of-stock]='item.status=="Out Of Stock"'>
                    <td>{{item.fname}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td style="word-break: break-all;">{{item.ingredients}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <button *ngIf='!(cnt>0)' (click)='acceptOrder(order)'>Add Order to List</button>
            <button *ngIf='cnt>0' (click)='changeStatus()' title='Make all items available!'>Change Status</button>
            <button class="reject" (click)='rejectOrder(order)'>Reject Order</button>
        </div>
        <div class="nothing" *ngIf='!(items.length>0)'>
            <span>No items present in this order.</span>
        </div>
    </div>
</div>