@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.d-none{
    display: none;
}

.container{
    user-select: none;
    width: 100%;
    min-height: 80vh;
    padding: 2.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #353535;
}
.input{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.input input[type="text"]{
    padding: 10px;
    min-width: 90vw;
    outline: none;
}
.input .locations{
    background-color: #fff;
    height: 50vh;
    margin-bottom: 3vh;
    overflow-y: auto;
    padding: 10px;
}
.input .locations .nothing{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input .locations .nothing span{
    font-size: 25px;
    font-weight: 600;
    color: #777;
    user-select: none;
}
.input .locations li{
    list-style: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.input .locations li:nth-child(odd){
    background-color: #aaa;
}
.input .locations li:hover{
    font-size: 18px;
}







/* -----------------------logo animation------------------------ */

.logo span{
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: lightblue;
    position: relative;
    display: inline-flex;
}
.logo span:nth-child(even){
    color : #ccc;
    letter-spacing: -1em;
    line-height: 1em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.logo:hover span:nth-child(even){
    letter-spacing: 0;
}
@media screen and (max-width:500px){
    .logo span{
        font-size: 60px;
    }
}
@media screen and (max-width:400px){
    .logo span{
        font-size: 50px;
    }
}




/* -----------------------logo animation------------------------ */
/* 
.logo h2{
    text-align: center;
    font-size: 50px;
} 

.logo h2 span{
    color: lightblue;
    position: relative;
    display: inline-flex;
}

.logo h2 span:nth-child(even){
     color : black;
     letter-spacing: -1em;
     line-height: 1em;
     overflow: hidden;
     transition: 0.5s ease-in-out;
}

.logo h2:hover span:nth-child(even){
    letter-spacing: 0;
}

.logo h2 i{
    position: absolute;
    font-size: 15px;
    transform: translateX(-50%);
    color: #777;
    font-weight: 100;
    line-height: 1em; 
}

.logo h2 i::before{
    content: 'restofoodies';
    position: absolute;
    text-align: center;
    width: 100%;
    display: initial;
    transition: 0.5s;
}

.logo h2:hover i::before{
    opacity: 0;
    letter-spacing: 2em;
}

.logo h2 i::after{
    content: 'Online food delivery service';
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.logo h2:hover i::after{
    opacity: 1;
    visibility: visible;
}

.logo img{
    height: 60px;
} */