<div class = "logo">
    <h2>
        <span> R </span>
        <span> esto </span>
        <span> F </span>
        <span> oodies </span>
        <img src = "assets/images/icecream.jpg">
        <br>
        <i></i>
    </h2>
</div>

<br><br>

<div class="container">

    <div class="col">

        <!-- <div class="buttons">
            <button>Login</button>
            <button>Register</button>
        </div> -->

        <div class="input">
            <input #location type="text" name='location' placeholder='Enter your delivery location.' (keyup)='updateLocations()'>
            <ul class="locations">
                <li *ngFor='let l of resultedLocations'(click)='setUserLocation(l)'>{{l}}</li>
            </ul>
        </div>

    </div>

</div>