@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

/*---------------------------------------RestoUpdateForm-end-------------------------------------*/
#RestoUpdateForm{
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border: 1px solid rgb(60, 60, 60);
    width: 75vw;
    height: 80vh;
    padding: 40px 30px;
    font-family: 'poppins',sans-serif;
    overflow-y: auto;
    display: none;
}
#RestoUpdateForm .heading{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#RestoUpdateForm .textfield{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
}
#RestoUpdateForm .mapbtn{
    column-gap: 10px;
    display: flex;
    cursor: pointer;
}
#RestoUpdateForm .group{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    row-gap: 2.5px;
}
#RestoUpdateForm .group .textfield{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
#RestoUpdateForm .mapbtn{
    cursor: pointer;
}
.valid{
    border: solid 1px rgb(106, 106, 106);
    color: #111;
}
#RestoUpdateForm .group small{
    color: #f00;
}
#RestoUpdateForm .flex-group{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 10px 0;
}
.btn{
    outline: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn.submitbtn{
    background: #1c74e0;
}
.btn.cancelbtn{
    background: #f00;
}



/*----------------------------------------------RestoUpdateForm-end-----------------------------------------*/


/*----------------------------------------------RestoForm1-start-----------------------------------------*/

.d-none{
    display: none;
}
.invalid{
    border: 1px solid #f00;
    color: #f00;
}
#RestoForm1{
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border: 1px solid rgb(60, 60, 60);
    width: 75vw;
    height: 80vh;
    padding: 40px 30px;
    font-family: 'poppins',sans-serif;
    overflow-y: auto;
    display: none;
}
#RestoForm1 .heading{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#RestoForm1 .group{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    row-gap: 2.5px;
}
#RestoForm1 .group .textfield{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
#RestoForm1 .mapbtn{
    cursor: pointer;
}
.valid{
    border: solid 1px rgb(106, 106, 106);
    color: #111;
}
#RestoForm1 .group small{
    color: #f00;
}
#RestoForm1 .flex-group{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 10px 0;
}
.btn{
    outline: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn.submitbtn{
    background: #1c74e0;
}
.btn.cancelbtn{
    background: #f00;
}

/*----------------------------------------------RestoForm1-end-----------------------------------------*/

/*----------------------------------------------Maps-start---------------------------------------------*/

#RestoMap{
    height: 50vh;
    width: 80%;
    margin: 50px auto;
    display: block;
}
#map{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    background: #eee;
    color: #fff;
}
#map1{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    background: #eee;
    color: #fff;
}
.choosebtn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(4, 103, 160);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
agm-map{
    height: 100%;
    width: 100%;
}
/*----------------------------------------------Maps-end---------------------------------------------*/


/*-----------------------------------------------container------------------------------------------------*/
.container{
    width: 100%;
    position: relative;
    font-family: 'poppins',sans-serif;
}
.container.nothing{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .welcome{
    padding: 20px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.container .message{
    color: #333;
    text-align: center;
}
.container .addbtn{
    padding: 10px;
    display: block;
    outline: none;
    margin: 20px auto;
    cursor: pointer;
    background: #155ad8;
    border: none;
    color: #fff;
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 10px;
    border-radius: 0 0 0 10px;
}
.select #select-restaurants{
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    outline: none;
}
.select i{
    cursor: pointer;
    color: #f00;
}
.profile{
    width: 100%;
    position: relative;
}
.profile i.fa-edit{
    position: absolute;
    padding: 15px;
    background: #eee;
    border-radius: 0 0 10px 0;
}
.profile img{
    width: 100%;
}
.profile .name{
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    font-family: 'Averia Serif Libre', cursive;
}
.profile .branch{
    position: absolute;
    bottom: 30px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
@media screen and (max-width:750px){
    .profile .name{
        font-size: 50px;
    }
    .profile .branch{
        bottom: 10px;
    }
}
@media screen and (max-width:630px){
    .profile .name{
        font-size: 40px;
    }
    .profile .branch{
        font-size: 16px;
    }
}
@media screen and (max-width:500px){
    .profile .name{
        font-size: 30px;
    }
    .profile .branch{
        font-size: 12px;
    }
}


/*----------------------------Menu--------------------------*/

#CategoryModule{
    z-index: 1;
    font-family: 'poppins',sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid #111;
    display: none;
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 20px;
}
#CategoryModule .nothing{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#CategoryModule .nothing span{
    user-select: none;
    font-size: 25px;
    color: #666;
}
#CategoryModule .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#CategoryModule .row .title{
    margin: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
#CategoryModule .row .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
}
#CategoryModule .row .buttons button{
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #2569fc;
}
#CategoryModule .categories{
    padding: 10px;
    line-height: 28px;
    position : relative;
    overflow: hidden;
    min-height: 50vh;
}
#CategoryModule .categories span{
    width: auto;
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    background: #fff;
}
#CategoryModule .categories span.selected{
    background: #1ff;
}
.menu{
    width: 100%;
    height: auto;
}
.menu .topbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.menu .topbar .title{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    user-select: none;
}
.menu .topbar .btn{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: rgb(20, 106, 187);
    color: white;
    cursor: pointer;
}
.menu .category-box{
    width: 90%;
    padding: 10px;
}
.menu .category-name{
    border: 1px solid #111;
    margin: 0 10px 10px;
    padding: 0 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.menu .category-name.selected{
    background-color: #1a9cb0;
    color: white;
}
.food-items{
    position: relative;
}
#AddCategoryModel{
    position: fixed;
    top: 50%;
    max-height: 80vh;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid;
    padding: 30px;
    font-family: 'poppins',sans-serif;
    display: none;
}
#AddCategoryModel .heading{
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
#AddCategoryModel .group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 5px;
}
#AddCategoryModel .group input[type="text"]{
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#AddCategoryModel .group small{
    color: #f00;
}
#AddCategoryModel textarea{
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}
#AddCategoryModel .buttons{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
@media screen and (max-width:600px){
    #CategoryModule{
        width: 320px;
    }
    #CategoryModule .row{
        flex-direction: column;
    }
}