@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.d-none{
    display: none;
}

/*----------------------------------------------Maps-start---------------------------------------------*/

#RestoMap{
    height: 50vh;
    width: 80%;
    margin: 50px auto;
    display: block;
}
#Map,#Map1{
    position: fixed;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    z-index: 2;
    display: none;
    background: #eee;
    color: #fff;
}
#Map .close,#Map1 .close{
    top: 0;
    position: absolute;
    color: #333;
    font-size: 25px;
    margin: 10px;
    padding: 10px 15px;
    left: 0;
    background-color: #fff;
    z-index: 2;
}
.choosebtn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(4, 103, 160);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
agm-map{
    height: 100%;
    width: 100%;
}
/*----------------------------------------------Maps-end---------------------------------------------*/


/*-----------------------------------------------container------------------------------------------------*/
.container{
    width: 100%;
    position: relative;
    font-family: 'poppins',sans-serif;
}
.container.nothing{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .welcome{
    padding: 20px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.container .message{
    color: #333;
    text-align: center;
}
.container .addbtn{
    padding: 10px;
    display: block;
    outline: none;
    margin: 20px auto;
    cursor: pointer;
    background: #155ad8;
    border: none;
    color: #fff;
}
.profile{
    width: 100%;
    position: relative;
}
.profile i.fa-edit{
    position: absolute;
    padding: 15px;
    background: #eee;
    border-radius: 0 0 10px 0;
}
.profile .deletebtn{
    padding: 15px;
    right: 0;
    color: #f00;
    background: #eee;
    border-radius: 0 0 0 10px;
    position: absolute;
}
.profile img{
    width: 100%;
}
.profile .name{
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    font-family: 'Averia Serif Libre', cursive;
}
@media screen and (max-width:750px){
    .profile .name{
        font-size: 50px;
    }
}
@media screen and (max-width:630px){
    .profile .name{
        font-size: 40px;
    }
}
@media screen and (max-width:500px){
    .profile .name{
        font-size: 30px;
    }
}


/*----------------------------Menu--------------------------*/

#CategoryModule{
    z-index: 1;
    font-family: 'poppins',sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid #111;
    display: none;
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 20px;
}
#CategoryModule .nothing{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#CategoryModule .nothing span{
    user-select: none;
    font-size: 25px;
    color: #666;
}
#CategoryModule .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#CategoryModule .row .title{
    margin: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
#CategoryModule .row .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
}
#CategoryModule .row .buttons button{
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #2569fc;
}
#CategoryModule .categories{
    padding: 10px;
    line-height: 28px;
    position : relative;
    overflow: hidden;
    min-height: 50vh;
}
#CategoryModule .categories span{
    width: auto;
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    background: #fff;
}
#CategoryModule .categories span.selected{
    background: #1ff;
}
.menu{
    width: 100%;
    height: auto;
}
.menu .topbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.menu .topbar .title{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    user-select: none;
}
.menu .topbar .btn{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: rgb(20, 106, 187);
    color: white;
    cursor: pointer;
}
.menu .category-box{
    width: 90%;
    padding: 10px;
}
.menu .category-name{
    border: 1px solid #111;
    margin: 0 10px 10px;
    padding: 0 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.menu .category-name.selected{
    background-color: #1a9cb0;
    color: white;
}
.food-items{
    position: relative;
}
#AddCategoryModel{
    position: fixed;
    top: 50%;
    max-height: 80vh;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid;
    padding: 30px;
    font-family: 'poppins',sans-serif;
    display: none;
}
#AddCategoryModel .heading{
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
#AddCategoryModel .group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 5px;
}
#AddCategoryModel .group input[type="text"]{
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#AddCategoryModel .group small{
    color: #f00;
}
#AddCategoryModel textarea{
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}
#AddCategoryModel .buttons{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
@media screen and (max-width:600px){
    #CategoryModule{
        width: 320px;
    }
    #CategoryModule .row{
        flex-direction: column;
    }
}










#RestoForm1{
    display: none;
}
#RestoUpdateForm{
    display: none;
}
/*------------------------------------------------Panel-Start---------------------------------------------*/
#Panel1{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    justify-content: center;
    display: none;
    overflow-y: auto;
    align-items: flex-start;
}
.form{
    user-select: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 10vh 0;
    min-height: 80vh;
    min-width: 350px;
    width: 500px;
}
.form.small{
    min-height: 30vh;
}
.form .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
.form .title{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form .group select{
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.form .group.flex{
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.form .group .d-none{
    display: none;
}
.form .group label{
    font-size: 14px;
}
.form .group input[type='text'],
.form .group input[type='password']{
    padding: 5px;
    outline: none;
    width: 100%;
}
.form .group small{
    color: #f00;
    font-size: 12px;
}
.form .group .password{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .group .password i{
    position: absolute;
    right: 5px;
}
.form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #555;
}
.form .buttons{
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}
.form .buttons input{
    padding: 10px;
    min-width: 80px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #156ae8;
}
.form input[type="submit"]:disabled{
    background: #5c93c5;
}
.form input[type="reset"]{
    background: #ff0000;
} 
@media screen and (max-width:550px){
    .form{
        width: 350px;
    }
}

/*------------------------------------------------Panel-End---------------------------------------------*/