@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.d-none{
    display: none;
}

/*----------------------------------------------Maps-start---------------------------------------------*/

#RestoMap{
    height: 50vh;
    width: 80%;
    margin: 50px auto;
    display: block;
}
#Map,#Map1{
    position: fixed;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    z-index: 2;
    display: none;
    background: #eee;
    color: #fff;
}
#Map .close,#Map1 .close{
    top: 0;
    position: absolute;
    color: #333;
    font-size: 25px;
    margin: 10px;
    padding: 10px 15px;
    left: 0;
    background-color: #fff;
    z-index: 2;
}
.choosebtn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(4, 103, 160);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
agm-map{
    height: 100%;
    width: 100%;
}
/*----------------------------------------------Maps-end---------------------------------------------*/


/*-----------------------------------------------container------------------------------------------------*/
.container{
    width: 100%;
    position: relative;
    font-family: 'poppins',sans-serif;
}
.container.nothing{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .welcome{
    padding: 20px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.container .message{
    color: #333;
    text-align: center;
}
.container .addbtn{
    padding: 10px;
    display: block;
    outline: none;
    margin: 20px auto;
    cursor: pointer;
    background: #155ad8;
    border: none;
    color: #fff;
}
.profile{
    width: 100%;
    position: relative;
}
.profile i.fa-edit{
    position: absolute;
    padding: 15px;
    background: #eee;
    border-radius: 0 0 10px 0;
}
.profile .deletebtn{
    padding: 15px;
    right: 0;
    color: #f00;
    background: #eee;
    border-radius: 0 0 0 10px;
    position: absolute;
}
.profile img{
    width: 100%;
}
.profile .name{
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    font-family: 'Averia Serif Libre', cursive;
}
@media screen and (max-width:750px){
    .profile .name{
        font-size: 50px;
    }
}
@media screen and (max-width:630px){
    .profile .name{
        font-size: 40px;
    }
}
@media screen and (max-width:500px){
    .profile .name{
        font-size: 30px;
    }
}


#RestoForm1{
    display: none;
}
#RestoUpdateForm{
    display: none;
}
/*------------------------------------------------Panel-Start---------------------------------------------*/
#Panel1{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    justify-content: center;
    display: none;
    overflow-y: auto;
    align-items: flex-start;
}
.form{
    user-select: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 10vh 0;
    min-height: 80vh;
    min-width: 350px;
    width: 500px;
}
.form.small{
    min-height: 30vh;
}
.form .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
.form .title{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form .group select{
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.form .group.flex{
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.form .group .d-none{
    display: none;
}
.form .group label{
    font-size: 14px;
}
.form .group input[type='text'],
.form .group input[type='password']{
    padding: 5px;
    outline: none;
    width: 100%;
}
.form .group small{
    color: #f00;
    font-size: 12px;
}
.form .group .password{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .group .password i{
    position: absolute;
    right: 5px;
}
.form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #555;
}
.form .buttons{
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}
.form .buttons input{
    padding: 10px;
    min-width: 80px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #156ae8;
}
.form input[type="submit"]:disabled{
    background: #5c93c5;
}
.form input[type="reset"]{
    background: #ff0000;
} 
@media screen and (max-width:550px){
    .form{
        width: 350px;
    }
}

/*------------------------------------------------Panel-End---------------------------------------------*/