<div class="container nothing" *ngIf='restaurant.rid===0'>
    <p class="welcome">Welcome to your profile</p>
    <p class="message">You have not added your restaurant yet!</p>
    <button (click)='toggleModel("RestoForm1",true)' class="addbtn">Add Restaurant</button>
</div>

<div class="container" *ngIf='restaurant.rid!==0'>
    <div class="profile">
        <i class="fas fa-edit" title="Update Restaurant Profile" (click)='toggleModel("RestoUpdateForm",true)'></i>
        <img src="assets/images/restaurants/banner1.jpg" alt="banner">
        <span class="name">{{restaurant.name}}</span>
    </div>

    <div id="RestoMap">
        <agm-map [latitude]='pos.lat' [longitude]='pos.lng' [zoom]='14' [fullscreenControl]='true'>
            <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
        </agm-map>
    </div>

    <div class="menu">
        <div class="topbar">
            <p class="title">Menu</p>
            <button class="btn" (click)="toggleModel('AddCategoryForm',true)">Add Category</button>
        </div>

        <div class="category-list">
            <div class="category-box">
                <span class="category-name selected" title="All verieties of food items" (click)='getFoodItems("All")'>All</span>
                <span class="category-name" title="{{category.description}}" (click)='getFoodItems(category.cname)' *ngFor="let category of restCategories">{{category.cname}}</span>
            </div>
        </div>
        
        <div class="food-items">
            <app-menu [food_items]='food_items' [restaurant]='restaurant' [user]='user'></app-menu>
        </div>
        
    </div>
</div>




<!-- Models -->
<div id="Panel1">

    <form id="RestoUpdateForm" #RestoUpdateForm='ngForm' (ngSubmit)='updateRestaurant(restaurant,file2.files)' class='form'>
        <i class="fas fa-times close" (click)='toggleModel("RestoUpdateForm",false)'></i>
        <span class="title" style="margin-bottom: 20px;">Update Restaurant Profile</span>
        <div class="group">
            <label>Restaurant Name: </label>
            <input type="text" name="name" #name1='ngModel' [(ngModel)]='restaurant.name' maxlength="30" required>
            <small [class.d-none]='name1.valid || name1.untouched'>Restaurant name cannot be empty.</small>
        </div>
        <div class="group">
            <label>Contact: </label>
            <input type="text" #contact1='ngModel' pattern="[0-9]{10}" name="contact1" [(ngModel)]="restaurant.contact" required>
            <div *ngIf='contact1.errors && (contact1.invalid && contact1.touched)'>
                <small *ngIf='contact1.errors.required'>Restaurant contact cannot be empty.</small>
                <small *ngIf='contact1.errors.pattern'>Contact must be of at least 10 digits.</small>
            </div>
        </div>
        <div class="group">
            <label>Email Id: </label>
            <input type="text" #email1='ngModel' name="email" [(ngModel)]="restaurant.email" maxlength="50" required>
            <small [class.d-none]='email1.valid || email1.untouched'>Restaurant email cannot be empty.</small>
        </div>
        <div class="group">
            <label>Restaurant Profile Picture: </label>
            <input type="file" #file2 (change)='checkFile($event)' accept="image/*" name="file2">
            <small *ngIf='file2.files[0] && ( (file2.files[0].size/(1024*512)>0.5) )'>File size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label for="mapbtn" class="mapbtn" (click)='toggleMap("Map","RestoUpdateForm",true)'>Location: <i id="mapbtn" class="fas fa-map-marked-alt"></i></label>
        </div>
        <div class="buttons" style="margin-top: 20px;">
            <input type="submit" [disabled]='RestoUpdateForm.form.invalid || pos.lat==0 || pos.lng==0 || (file2.files[0] && ( (file2.files[0].size/(1024*512)>0.5) ))' value="Update">
            <input type="button" style="background-color: #f00;" (click)='deleteRestaurant(restaurant.rid)' value="Delete">
        </div>
    </form>
    
    <form #RestoForm1='ngForm' class="form" id="RestoForm1" (ngSubmit)='addRestaurant(rest,file1.files)'>
        <i class="fas fa-times close" (click)='toggleModel("RestoForm1",false)'></i>
        <span class="title" style="margin-bottom: 20px;">Add New Restaurant</span>
        <div class="group">
            <label>Restaurant Name: </label>
            <input type="text" #name='ngModel' name="name" [(ngModel)]="rest.name" maxlength="30" required>
            <small [class.d-none]='name.valid || name.untouched'>Restaurant name cannot be empty.</small>
        </div>
        <div class="group">
            <label>Contact: </label>
            <input type="text" #contact='ngModel' pattern="[0-9]{10}" name="contact" [(ngModel)]="rest.contact" required>
            <div *ngIf='contact.errors && (contact.invalid && contact.touched)'>
                <small *ngIf='contact.errors.required'>Restaurant contact cannot be empty.</small>
                <small *ngIf='contact.errors.pattern'>Contact must be of at least 10 digits.</small>
            </div>
        </div>
        <div class="group">
            <label>Email Id:</label>
            <input type="text" #email='ngModel' name="email" [(ngModel)]="rest.email" maxlength="50" required>
            <small [class.d-none]='email.valid || email.untouched'>Restaurant email cannot be empty.</small>
        </div>
        <div class="group">
            <label>Branch of the Restaurant:</label>
            <input type="text" #branch='ngModel' name="branch" pattern='[a-zA-Z]{1,30}' maxlength="30" [(ngModel)]="rest.branch" required>
            <div *ngIf='branch.errors && (branch.invalid && branch.touched)'>
                <small *ngIf='branch.errors.required'>Restaurant branch cannot be empty.</small>
                <small *ngIf='branch.errors.pattern'>Branch should contain only alphabets.</small>
            </div>
        </div>
        <div class="group">
            <label>Restaurant Profile Picture: </label>
            <input type="file" #file1 (change)='checkFile($event)' name="file1" accept="image/*" required>
            <small *ngIf='file1.files[0] && ( (file1.files[0].size/(1024*512)>0.5) )'>File size should be less than 500KB.</small>
            <small [class.d-none]='file1.files.length==1'>Profile should not be empty.</small>
        </div>
        <div class="group">
            <label for="mapbtn" class="mapbtn" (click)='toggleMap("Map1","RestoForm1",true)'>Location: <i id="mapbtn" class="fas fa-map-marked-alt"></i></label>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='RestoForm1.form.invalid || file1.files.length!=1 || file1.files[0] && ( (file1.files[0].size/(1024*512)>0.5) )' value='Submit'>
        </div>
    </form>

    <form id="AddCategoryForm" #AddCategoryForm='ngForm' class="form" (ngSubmit)='addCategory(newCategory)'>

        <i class="fas fa-times close" (click)='toggleModel("AddCategoryForm",false)'></i>
        <span class="title" style="margin-bottom: 20px;">Add New Category</span>
        <div class="group">
            <label>Category Name: </label>
            <input type="text" name='cname' #cname='ngModel' maxlength="50" [(ngModel)]='newCategory.cname' required>
            <small [class.d-none]='cname.valid || cname.untouched'>Category name cannot be empty.</small>
        </div>
        <div class="group">
            <textarea name="description" cols="30" rows="10" placeholder="Enter description of category here..."></textarea>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='AddCategoryForm.invalid' value="Add Category">
        </div>

    </form>

</div>




<!-- Maps -->
<div id="Map">
    <i class="fas fa-times close" (click)='toggleMap("Map","RestoUpdateForm",false)'></i>
    <agm-map [latitude]='pos.lat' [longitude]='pos.lng' [zoom]='14' [fullscreenControl]='true' (mapClick)='chooseLocation($event)'>
        <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
    </agm-map>
</div>
<div id="Map1">
    <i class="fas fa-times close" (click)='toggleMap("Map1","RestoForm1",false)'></i>
    <agm-map [latitude]='pos.lat' [longitude]='pos.lng' [zoom]='14' [fullscreenControl]='true' (mapClick)='chooseLocation($event)'>
        <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
    </agm-map>
</div>