<div class="container">
    <div class="nothing" *ngIf='!(restaurants.length>0)'>
        <span>No services available...</span>
    </div>
    <div class="box" *ngIf='restaurants.length>0'>
        <div class="topbar">
            <span class="count" *ngIf='restaurants.length>1'>{{restaurants.length}} restaurants available</span>
            <span class="count" *ngIf='!(restaurants.length>1)'>{{restaurants.length}} restaurant available</span>
            <div class="nav"></div>
        </div>
        <div class="restaurants">
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
            <div class="restaurant" *ngFor='let r of restaurants'>
                <div class="img">
                    <a routerLink="/assets/images/restaurants/{{r.profile}}" target="_blank">
                        <img src="/assets/images/restaurants/{{r.profile}}" alt="Restaurant Profile">
                    </a>
                </div>
                <div class="row">
                    <a routerLink="{{r.name.replaceAll(' ','_')}}">{{r.name}}</a>
                    <p class="categories">{{r.categories.substring(0,20)}}...</p>
                </div>
            </div>
        </div>
    </div>
</div>