.container{
    min-height: 80vh;
    box-sizing: border-box;
    position: relative;
    font-family: 'poppins',sans-serif;
}
.container .nothing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container .nothing span{
    font-size: 25px;
    font-weight: 600;
}
.box .topbar{
    display: flex;
    align-items: center;
    padding: 20px 10vw;
}
.box .topbar .count{
    user-select: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}






/* ----------------------------------------------Restaurants----------------------------------- */
.restaurants{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1200px){
    .restaurants{
        grid-template-columns: 300px 300px 300px;
    }
}
@media screen and (max-width:1050px){
    .restaurants{
        grid-template-columns: 300px 300px;
    }
}
@media screen and (max-width:700px){
    .restaurants{
        grid-template-columns: 300px;
    }
}
.restaurant{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px black;
    transition: 0.5s;
}
.restaurant:hover{
    transform: scale(1.05);
}
.restaurant .img{
    display: flex;
    justify-content: center;
}
.restaurant .img img{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.restaurant .row{
    padding: 20px;
    user-select: none;
}
.restaurant .row a{
    font-weight: 600;
    font-size: 18px;
}
.restaurant .row p.categories{
    color: #555;
    font-size: 14px;
}