<div class="container">
    <div class="topbar">
        <span class="title">List Of Selected Orders</span>
        <select #select (change)='getListOrdersOfRestaurantByBranch(select.value)'>
            <option value="{{b}}" *ngFor='let b of branches'>{{b}}</option>
        </select>
    </div>
    <div class="list">
        <div class="nothing" *ngIf='!(orders.length>0)'>
            <span>No orders added!</span>
        </div>
        <div class="orders" *ngIf='orders.length>0'>
            <div class="order" *ngFor='let order of orders'>
                {{order.recipient_name}}
            </div>
        </div>
    </div>
</div>