.container{
    font-family: 'poppins',sans-serif;
    padding: 0 2.5%;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.topbar .title{
    font-size: 25px;
    font-weight: 600;
}
.topbar select{
    padding: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.list{
    border: 1px solid;
}
.list .nothing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.list .nothing span{
    font-size: 25px;
    font-weight: 600;
    color: #555;
    user-select: none;
}
@media screen and (max-width:600px){
    .topbar{
        flex-direction: column;
        row-gap: 10px;
    }
    .topbar select{
        width: 100%;
    }
}
.orders .order{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#panel{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 146, 146,50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'poppins',sans-serif;
}
#panel .box{
    min-width: 350px;
    width: 90%;
    height: 90vh;
    min-height: 400px;
    background-color: #fff;
}
#panel .box .header{
    height: 50px;
    border: 1px solid #111;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}