<div class="container">
    <div class="topbar">
        <span class="title">List Of Selected Orders</span>
        <select #select (change)='getListOrdersOfRestaurantByBranch(select.value)'>
            <option value="{{b}}" *ngFor='let b of branches'>{{b}}</option>
        </select>
    </div>

    <div class="list">
        <table class="orders" *ngIf='orders.length>0'>
            <tr>
                <th>Id</th>
                <th>Recipient</th>
                <th>Contact</th>
                <th>Price(&#8377;)</th>
                <th>Items</th>
                <th></th>
            </tr>
            <tr *ngFor='let o of orders'>
                <td>{{o.oid}}</td>
                <td>{{o.recipient_name}}</td>
                <td>{{o.contact}}</td>
                <td>{{o.price}}</td>
                <td>
                    <button (click)='order=o;getAvailableItemsOfOrder(o);toggleModel("OrderBox",true)'>View</button>
                </td>
                <td>
                    <i class="fas fa-map-marker-alt" (click)='order=o;changeLocation();toggleModel("Map",true)'></i>
                </td>
            </tr>
        </table>

        <div class="nothing" *ngIf='!(orders.length>0)'>
            <span>No orders added!</span>
        </div>
    </div>
</div>


<!-- Panel -->
<div id="Panel1">

    <div id="OrderBox">
        <i class="fas fa-times close" (click)='toggleModel("OrderBox",false)'></i>
        <div class="box">
            <div class="header">
                <span class="count">No. of items : {{count}}</span>
                <button (click)='finishOrder()'>Finish</button>
            </div>
            <div class="items">
                <div class="item" *ngFor='let item of items'>
                    {{item.fname}}
                </div>
                <div class="item" *ngFor='let item of items'>
                    {{item.fname}}
                </div>
                <div class="item" *ngFor='let item of items'>
                    {{item.fname}}
                </div>
                <div class="item" *ngFor='let item of items'>
                    {{item.fname}}
                </div>
                <div class="item" *ngFor='let item of items'>
                    {{item.fname}}
                </div>
            </div>
        </div>
    </div>

    <div id="Map">
        <i class="fas fa-times close" (click)='toggleModel("Map",false)'></i>
        <agm-map [latitude]='pos.lat' [longitude]='pos.lng'>
            <agm-marker [latitude]='pos.lat' [longitude]='pos.lng'></agm-marker>
        </agm-map>
    </div>

</div>