<!--Content-->
<i class="fas fa-bars white" (click)='toggleSlideBar(true)'></i>
<router-outlet></router-outlet>



<!--Models-->
<div id="slidebar">
    <i class="fas fa-times" (click)='toggleSlideBar(false)'></i>
    <div class="user-profile">
        <a href="assets/images/user_pictures/{{user.profile}}" target="_blank"><img src="assets/images/user_pictures/{{user.profile}}"></a>
        <p class="fullname">{{user.fullname}}</p>
    </div>
    <ul class="action-list">
        <span *ngIf='user.role!=="Admin"'>Pages</span>
        <a (click)='toggleSlideBar(false)' routerLink="Restaurant" *ngIf='user.role==="Vendor"'><li>Restaurant Profile</li></a>
        <a routerLink="Restaurant/Orders" (click)='toggleSlideBar(false)' *ngIf='user.role==="Vendor"'><li>New orders</li></a>
        <a routerLink="Restaurant/My-List" (click)='toggleSlideBar(false)' *ngIf='user.role==="Vendor"'><li>List of orders</li></a>
        <a routerLink="/Profile/Delivery" (click)='toggleSlideBar(false)' *ngIf='user.role=="Delivery"'><li>Pick up orders</li></a>
        <a routerLink="/Profile/Box" (click)='toggleSlideBar(false)' *ngIf='user.role==="Delivery"'><li>Deliver orders</li></a>
        <span>Actions</span>
        <li (click)='toggleSlideBar(false);toggleModel("EditUserProfileModel","Panel",true)'>Edit Profile</li>
        <li (click)='toggleSlideBar(false);toggleModel("RestoUpdateForm","Panel1",true)' *ngIf='user.role==="Vendor"'>Edit Restaurant Profile</li>
        <li (click)='toggleSlideBar(false);toggleModel("AddBranchForm","Panel1",true)' *ngIf='user.role==="Vendor"'>Add Branch</li>
        <li (click)='toggleSlideBar(false);toggleModel("AddCategoryForm","Panel2",true)' *ngIf='user.role==="Vendor"'>Add Category</li>
        <li (click)='toggleSlideBar(false);toggleModel("SelectCategoryForm","Panel2",true)' *ngIf='user.role==="Vendor"'>Select Category</li>
        <li (click)='toggleSlideBar(false);toggleModel("AddItemForm","Panel2",true)' *ngIf='user.role==="Vendor"'>Add Food Item</li>
        <li (click)='toggleSlideBar(false);toggleModel("UserProfileModel","Panel",true)' *ngIf='user.role==="Admin"'>Manage Users</li>
        <li (click)='toggleSlideBar(false);toggleModel("AddUserModel","Panel",true)' *ngIf='user.role==="Admin"'>Add New User</li>
    </ul>
</div>

<div id="Panel">
    
    <form #EditUserProfileModel='ngForm' id="EditUserProfileModel" (ngSubmit)='updateUserProfile(file.files[0],user)' class="form">
        <i class="fas fa-times close" (click)='toggleModel("EditUserProfileModel","Panel",false)'></i>
        <span class="title">Update Your Profile</span>
        <div class="group">
            <label>Username : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" #username='ngModel' name="username" [(ngModel)]='user.username' maxlength="30" required>
            <small [class.d-none]='username.valid || username.untouched'>Username cannot be empty.</small>
        </div>
        <div class="group">
            <label>Password : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <div class="password">
                <input #password='ngModel' type="password" name="password" [(ngModel)]='user.password' required id="password">
                <i id='eye' class="fas fa-eye" (click)='togglePasswordVisibility("eye","password")'></i>
            </div>
            <small [class.d-none]='password.valid || password.untouched'>Password cannot be empty.</small>
        </div>
        <div class="group">
            <label>Fullname : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" name="fullname" required #fullname='ngModel' [(ngModel)]="user.fullname" maxlength="50">
            <small [class.d-none]='fullname.valid || fullname.untouched'>Fullname cannot be empty.</small>
        </div>
        <div class="group">
            <label>Profile picture :</label>
            <input type="file" #file name="file" (change)='changeUserPic()' accept="image/*">
            <small *ngIf='file.files[0] && ((file.files[0].size)/((1024*1024)/2))>0.5'>File size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label>Email Id :</label>
            <input type="text" name="email" [(ngModel)]='user.email' #email='ngModel'>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='EditUserProfileModel.invalid || (file.files[0] && ((file.files[0].size)/((1024*1024)/2))>0.5)' value="Update">
            <input type="reset" (click)='deleteUser(user.username)' value="Delete Profile">
        </div>
    </form>
    
    <form #UserProfileModel='ngForm' (ngSubmit)='getUserByUsername(username1.value)' id="UserProfileModel" class="form small">
        <span class="title">Update User Profile</span>
        <div class="group">
            <label>Username</label>
            <input type="text" required #username1='ngModel' [(ngModel)]='user1.username' name="username1">
            <small [class.d-none]='username1.valid || username1.untouched'>Username cannot be empty.</small>
        </div>
        <div class="buttons">
            <input type="submit" value="Search">
            <input type="reset" value="Cancel" (click)='toggleModel("UserProfileModel","Panel",false)'>
        </div>
    </form>
    
    <form #UserEditProfileModel='ngForm' (ngSubmit)='updateUserProfile(file1.files[0],user1)' id="UserEditProfileModel" class="form">
        <i class="fas fa-times close" (click)='toggleModel("UserEditProfileModel","Panel",false)'></i>
        <span class="title">Update Your Profile</span>
        <div class="group">
            <label>Password : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <div class="password">
                <input #password1='ngModel' type="password" name="password1" [(ngModel)]='user1.password' required id="password1">
                <i id='eye1' class="fas fa-eye" (click)='togglePasswordVisibility("eye1","password1")'></i>
            </div>
            <small [class.d-none]='password1.valid || password1.untouched'>Password cannot be empty.</small>
        </div>
        <div class="group">
            <label>Fullname : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" name="fullname1" required #fullname1='ngModel' [(ngModel)]="user1.fullname" maxlength="50">
            <small [class.d-none]='fullname1.valid || fullname1.untouched'>Fullname cannot be empty.</small>
        </div>
        <div class="flex group">
            <label>Role : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <select name="role" [(ngModel)]='user1.role' required>
                <option value="Customer">Customer</option>
                <option value="Vendor">Vendor</option>
                <option value="Delivery">Delivery</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <div class="group">
            <label>Profile picture :</label>
            <input type="file" #file1 name="file1" (change)='changeUserPic()' accept="image/*">
            <small *ngIf='file1.files[0] && ((file1.files[0].size)/((1024*1024)/2))>0.5'>File size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label>Email Id :</label>
            <input type="text" name="email1" [(ngModel)]='user1.email' #email1='ngModel'>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='UserEditProfileModel.invalid || (file1.files[0] && ((file1.files[0].size)/((1024*1024)/2))>0.5)' value="Update">
            <input type="reset" (click)='deleteUser(user1.username)' value="Delete User Profile">
        </div>
    </form>

    <form #AddUserModel = 'ngForm' (ngSubmit) = 'addUser()' id="AddUserModel" class="form">
        <i class="fas fa-times close" (click)='toggleModel("AddUserModel","Panel",false)'></i>
        <span class="title">Add New User</span>
        <div class="group">
            <label>Default Username : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" #username2='ngModel' name="username2" [(ngModel)]='user2.username' maxlength="30" required>
            <small [class.d-none]='username2.valid || username2.untouched'>Username cannot be empty.</small>
        </div>

        <div class="group">
            <label>Default Password : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <div class="password">
                <input #password2='ngModel' type="password" name="password2" [(ngModel)]='user2.password' required id="password2">
                <i id='eye2' class="fas fa-eye" (click)='togglePasswordVisibility("eye2","password2")'></i>
            </div>
            <small [class.d-none]='password2.valid || password2.untouched'>Password cannot be empty.</small>
        </div>

        <div class="group">
            <label>Fullname : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" name="fullname2" required #fullname2='ngModel' [(ngModel)]="user2.fullname" maxlength="50">
            <small [class.d-none]='fullname2.valid || fullname2.untouched'>Fullname cannot be empty.</small>
        </div>

        <div class="group">
            <label>Contact : <span title = "Required" style="color : red ; font-size : 12px">*</span></label>
            <div class="contact">
                <input type="text" #contact2 = 'ngModel' name="contact2" [(ngModel)] = 'user2.contact' pattern = '[0-9]{10}'required>
            </div>
            <div *ngIf='contact2.errors && (contact2.invalid && contact2.touched)'>
                <small *ngIf='contact2.errors.required'>Contact cannot be empty.</small>
                <small *ngIf='contact2.errors.pattern'>Contact must be of at least 10 digits.</small>
            </div>
        </div>

        <div class="flex group">
            <label>Role : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <select name="role" [(ngModel)]='user2.role' required>
                <option value="Vendor">Vendor</option>
                <option value="Delivery">Delivery</option>
                <option value="Admin">Admin</option>
            </select>
        </div>

        <div class="group">
            <label>Email Id :</label>
            <input type="text" name="email1" [(ngModel)]='user2.email' #email1='ngModel'>
        </div>

        <div class="buttons">
            <input type="submit" [disabled] = 'AddUserModel.invalid' value="Update">
            <input type="reset" (click)='deleteUser(user2.username)' value="Delete User Profile">
        </div>

    </form>

</div>