<!--Content-->
<div class="container">
    <div class="profile">
        <i class="fas fa-bars" (click)='toggleSlideBar(true)' title="Task-Bar"></i>
        <div class="details">
            <div>
                <p class="fullname">{{user.fullname}}</p>
                <p class="role">{{user.role}}</p>
            </div>
            <a href="assets/images/user_pictures/{{user.profile}}" target="_blank"><img src="assets/images/user_pictures/{{user.profile}}"></a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!--Models-->
<div id="Panel">

    <form #EditUserProfileModel='ngForm' id="EditUserProfileModel" (ngSubmit)='updateUserProfile(file.files[0])' class="form">
        <span class="title">Update Your Profile</span>
        <div class="group">
            <label>Username : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" #username='ngModel' name="username" [(ngModel)]='user.username' maxlength="30" required>
            <small [class.d-none]='username.valid || username.untouched'>Username cannot be empty.</small>
        </div>
        <div class="group">
            <label>Password : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <div class="password">
                <input #password='ngModel' type="password" name="password" [(ngModel)]='user.password' required id="password">
                <i id='eye' class="fas fa-eye" (click)='togglePasswordVisibility("eye","password")'></i>
            </div>
            <small [class.d-none]='password.valid || password.untouched'>Password cannot be empty.</small>
        </div>
        <div class="group">
            <label>Fullname : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" name="fullname" required #fullname='ngModel' [(ngModel)]="user.fullname" maxlength="50">
            <small [class.d-none]='fullname.valid || fullname.untouched'>Fullname cannot be empty.</small>
        </div>
        <div class="group">
            <label>Profile picture :</label>
            <input type="file" #file name="file" (change)='changeUserPic()' accept="image/*">
            <small *ngIf='file.files[0] && ((file.files[0].size)/((1024*1024)/2))>0.5'>File size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label>Email Id :</label>
            <input type="text" name="email" [(ngModel)]='user.email' #email='ngModel'>
        </div>
        <div class="group">
            <label>Address :</label>
            <textarea name="address" [(ngModel)]='user.address' cols="30" rows="5" placeholder="Enter your address here."></textarea>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='EditUserProfileModel.invalid || (file.files[0] && ((file.files[0].size)/((1024*1024)/2))>0.5)' value="Update">
            <input type="reset" (click)='toggleModel("EditUserProfileModel",false)' value="Cancel">
        </div>
    </form>

    <form #UserProfileModel='ngForm' (ngSubmit)='getUserByUsername()' id="UserProfileModel" class="form">
        <span class="title">Update User Profile</span>
        <div class="group">
            <label>Username</label>
            <input type="text" required #username1='ngModel' [(ngModel)]='user1.username' name="username1">
            <small [class.d-none]='username1.valid || username1.untouched'>Username cannot be empty.</small>
        </div>
        <div class="buttons">
            <input type="submit" value="Search">
            <input type="reset" value="Cancel" (click)='toggleModel("UserProfileModel",false)'>
        </div>
    </form>
    
    <form #UserEditProfileModel='ngForm' (ngSubmit)='updateUser1()' id="UserEditProfileModel" class="form">
        <div class="group">
            <label>Password : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <div class="password">
                <input #password1='ngModel' type="password" name="password1" [(ngModel)]='user1.password' required id="password1">
                <i id='eye1' class="fas fa-eye" (click)='togglePasswordVisibility("eye1","password1")'></i>
            </div>
            <small [class.d-none]='password1.valid || password1.untouched'>Password cannot be empty.</small>
        </div>
        <div class="group">
            <label>Fullname : <span title="Required" style="color: #f00;font-size: 12px;">*</span></label>
            <input type="text" name="fullname1" required #fullname1='ngModel' [(ngModel)]="user1.fullname" maxlength="50">
            <small [class.d-none]='fullname1.valid || fullname1.untouched'>Fullname cannot be empty.</small>
        </div>
        <select name="role" #role>
            {{role.value}}
            <option value="Customer">Customer</option>
            <option value="Owner">Vendor</option>
            <option value="Delivery Boy">Delivery Boy</option>
            <option value="Admin">Admin</option>
        </select>
        <input type="file" #file1 name="userpic1" accept="image/*">
        <input type="text" name="email" [(ngModel)]='user1.email' placeholder="Enter Email">
        <textarea name="address" [(ngModel)]='user1.address' cols="30" rows="5">Address</textarea>
        <div class="buttons">
            <input type="submit" value="Update">
            <input type="reset" (click)='deleteUser()' value="Delete">
        </div>
    </form>

</div>
<div id="slidebar">
    <p class="title">Task Bar</p>
    <i class="fas fa-times" (click)='toggleSlideBar(false)'></i>
    <ul class="action-list">
        <li (click)='toggleModel("EditUserProfileModel",true)'>Update Profile</li><!--toggleEditUserProfileModel(true)-->
        <li (click)='deleteAccount()'>Delete Account</li>
        <a *ngIf='user.role==="Customer"' routerLink="/Profile/My-Basket"><li>Basket</li></a>
        <a (click)='toggleSlideBar(false)' routerLink="/Profile/Restaurant" *ngIf='user.role==="Vendor"'><li>Restaurant</li></a>
        <li (click)='toggleUserProfileModel(true)' *ngIf='user.role==="Admin"'>Update User Account</li>
        <a routerLink="/Profile/Orders" (click)='toggleSlideBar(false)' *ngIf='user.role==="Vendor"'><li>Orders</li></a>
        <a routerLink="/Profile/My-List" (click)='toggleSlideBar(false)' *ngIf='user.role==="Vendor"'><li>List</li></a>
    </ul>
</div>