app-restaurant-pending{
    font-family: 'poppins',sans-serif;
}
.d-none{
    display: none;
}
/*--------------------------------------------Models--------------------------------------------*/

i.fas.fa-bars{
    position: absolute;
    margin: 30px;
    font-size: 30px;
    z-index: 1;
    color: #ddd;
}
#slidebar{
    font-family: 'poppins',sans-serif;
    height: 100vh;
    position: fixed;
    min-width: 350px;
    top: 0;
    right: 100vw;
    background: #fff;
    transition: 0.5s ease-out;
    z-index: 2;
    overflow-y: auto;
}
/* #slidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #777;
}
#slidebar::-webkit-scrollbar-thumb{
    background-color: #333;
    width: 2px;
} */
#slidebar.active{
    transform: translateX(100%);
}
#slidebar .fa-times{
    position: absolute;
    top: 0;
    color: #aaa;
    right: 0;
    font-size: 25px;
    margin: 10px;
}
.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.user-profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-profile .fullname{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
#slidebar ul li{
    display: block;
    padding: 10px 20px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    background: #ddd;
    margin: 5px 0;
}
#slidebar ul span{
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
}





#Panel{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    justify-content: center;
    display: none;
    overflow-y: auto;
    align-items: flex-start;
}
#EditUserProfileModel{
    margin: 15vh 0 10vh;
    display: none;
}
#UserProfileModel{
    margin: 30vh 0 10vh;
    display: none;
}
#UserEditProfileModel{
    margin: 15vh 0 10vh;
    display: none;
}
#AddUserModel{
    margin: 12.5vh 0 10vh;
    display : none;
}

.form{
    user-select: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 10vh 0;
    min-width: 350px;
    width: 500px;
}
.form.small{
    min-height: 30vh;
}
.form .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
.form .title{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form .group select{
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.form .group.flex{
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.form .group .d-none{
    display: none;
}
.form .group label{
    font-size: 14px;
}
.form .group input[type='text'],
.form .group input[type='password']{
    padding: 5px;
    outline: none;
    width: 100%;
}
.form .group small{
    color: #f00;
    font-size: 12px;
}
.form .group .password{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .group .password i{
    position: absolute;
    right: 5px;
}
.form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #555;
}
.form .buttons{
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}
.form .buttons input{
    padding: 10px;
    min-width: 80px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #156ae8;
}
.form input[type="submit"]:disabled{
    background: #5c93c5;
}
.form input[type="reset"]{
    background: #ff0000;
} 
@media screen and (max-width:550px){
    .form{
        width: 350px;
    }
}

