.title{
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 5vh 0;
    color: #353535;
    font-family: 'poppins',sans-serif;
    user-select: none;
}
#Panel1{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    justify-content: center;
    display: none;
    overflow-y: auto;
    align-items: flex-start;
}
#LocationForm{
    width: 500px;
    min-width: 330px;
    min-height: 80vh;
    background-color: #fff;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10vh 20px;
    row-gap: 10px;
}
#LocationForm .title{
    font-size: 25px;
    user-select: none;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
}
#LocationForm input[type="text"]{
    width: 90%;
    padding: 10px;
    outline: none;
}
#LocationForm .results{
    width: 90%;
    border: 1px solid #777;
    height: 90%;
    min-height: 60vh;
    position: relative;
    list-style: none;
}
#LocationForm .results:hover{
    border-color: #333;
}
#LocationForm .results li{
    width: 100%;
    border: 1px solid #aaa;
    padding: 5px;
    color: #555;
    cursor: pointer;
}




#Bill{
    width: 500px;
    min-width: 330px;
    min-height: 80vh;
    background-color: #fff;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    margin: 10vh 20px;
    row-gap: 10px;
}
#Bill .fa-times{
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    font-size: 25px;
    color: #fff;
}
#Bill .header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 0;
    align-items: center;
}
#Bill .header button{
    padding: 10px 30px;
    border: none;
    background-color: rgb(0, 123, 255);
    color: #fff;
    cursor: pointer;
}
#Bill .items{
    border: 1px solid #777;
    overflow-x: auto;
    border-collapse: collapse;
}
#Bill .items th{
    padding: 20px;
    font-size: 18px;
}
#Bill .items td{
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}
#Bill .items td a{
    font-weight: 600;
    color: darkblue;
}




.container{
    height: 75vh;
    min-height: 75vh;
    position: relative;
    font-family: 'poppins',sans-serif;
}
.EmptyLocation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    flex-direction: column;
}
.EmptyLocation .title{
    font-size: 20px;
    font-weight: 600;
    color: #555;
    user-select: none;
}
.EmptyLocation button{
    padding: 10px 20px;
    outline: none;
    color: #fff;
    background-color: rgb(0, 85, 175);
    cursor: pointer;
    border: none;
}
.box{
    height: 100%;
    width: 100%;
}
.EmptyOrders{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    flex-direction: column;
}
.EmptyOrders .title{
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    color: #555;
}
.orders{
    width: 80%;
    height: 100%;
    margin: 0 10% 2vh;
    position: relative;
}
.orders #map{
    width: 100%;
    height: 100%;
}
#map .controls{
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin: 20px;
    padding: 10px 15px;
    display: flex;
    column-gap: 20px;
    background-color: #fff;
    color: #666;
}
#map .controls i{
    cursor: pointer;
}
#map i.fa-clipboard-list{
    position: absolute;
    z-index: 1;
    margin: 20px;
    background: #fff;
    padding: 10px 20px;
    color: #666;
}
#map .details{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px;
    align-items: center;
}
#map .details .name{
    font-weight: 600;
}