/*-----------------------------------------------------Panel-Start-----------------------------------------------------*/




#Panel2{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(76 76 76 / 90%);
    z-index: 1;
    justify-content: center;
    display: none;
    overflow-y: auto;
    align-items: flex-start;
}
#SelectCategoryForm{
    display: none;
    background-color: #fff;
    width: 500px;
    min-width: 350px;
    min-height: 80vh;
    margin: 10vh 0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
#SelectCategoryForm .title{
    padding: 20px 0;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
#SelectCategoryForm .group{
    position: relative;
    text-align: center;
    width: 90%;
}
#SelectCategoryForm .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
#SelectCategoryForm .category{
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid;
    margin: 10px 5px;
}
#AddCategoryForm{
    margin: 17.5vh 0 10vh;
    display: none;
}
#AddItemForm{
    display: none;
}
#UpdateItemForm{
    display: none;
}
.form{
    user-select: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 10vh 0;
    min-width: 350px;
    width: 500px;
}
.form.small{
    min-height: 30vh;
}
.form .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    color: #fff;
    font-size: 25px;
}
.form .title{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form .group select{
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.form .group.flex{
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.form .group.flex label input{
    width: 100%;
    outline: none;
    padding: 5px;
}
.form .group .d-none{
    display: none;
}
.form .group label{
    font-size: 14px;
}
.form .group input[type='text'],
.form .group input[type='password']{
    padding: 5px;
    outline: none;
    width: 100%;
}
.form .group small{
    color: #f00;
    font-size: 12px;
}
.form .group .password{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .group .password i{
    position: absolute;
    right: 5px;
}
.form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #555;
}
.form .buttons{
    display: flex;
    margin-top: 5px;
    column-gap: 10px;
}
.form .buttons input{
    padding: 10px;
    min-width: 80px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #156ae8;
}
.form input[type="submit"]:disabled{
    background: #5c93c5;
}
.form input[type="reset"]{
    background: #ff0000;
} 
@media screen and (max-width:550px){
    .form{
        width: 350px;
    }
}


/*-----------------------------------------------------Panel-End-----------------------------------------------------*/








.menu{
    width: 100%;
    height: auto;
    padding: 5vh 2.5vw 2.5vh;
}
.menu .title{
    font-size: 30px;
    font-weight: 600;
    user-select: none;
    color: #555;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.menu .category-box{
    width: 100%;
    padding: 10px 0 20px;
    text-align: center;
    user-select: none;
}
.menu .category-name{
    border: 1px solid #999;
    margin: 0 5px 10px;
    padding: 0 10px;
    display: inline-flex;
    cursor: pointer;
}
.menu .category-name.selected{
    background-color: #555;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px black;
}
.food-items{
    position: relative;
}
.food-items .nothing{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.food-items .nothing p{
    font-size: 25px;
    font-weight: 600;
    color: #666;
    user-select: none;
}
.food-items .nothing button{
    padding: 10px;
    background-color: #155b9a;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.list{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-flow: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding: 25px 20px;
}
.item{
    width: 300px;
    transition: 0.5s;
    box-shadow: 2px 2px 10px black;
}
.item:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 10px black;
}
.item .img{
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.item .img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.item .details{
    user-select: none;
    padding: 10px;
}
.item .details .top{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}
.item .details .top span{
    font-weight: 600;
    color: #333;
}
.item .veg-nonveg{
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.item .veg{
    background-color: green;
}
.item .non-veg{
    background-color: red;
}
.item-name{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.item .buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item button{
    user-select: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 0;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
.item .buttons button[name="edit"]{
    background-color: #353535;
}
.item .buttons button[name="delete"]{
    background-color: #f00;
}
@media screen and (max-width:1300px){
    .list{
        grid-template-columns: 300px 300px 300px;
    }
}
@media screen and (max-width:1000px){
    .list{
        grid-template-columns: 300px 300px;
    }
}
@media screen and (max-width:700px){
    .list{
        grid-template-columns: 300px;
    }
}