<div class="menu">
    <div class="topbar">
        <p class="title">Menu</p>
        <i class="fas fa-ellipsis-v" (mouseenter)='toggleMenuActionsModel()'></i>
        <ul id="MenuActions">
            <li (click)="toggleModel('AddCategoryForm',true)">Add Category</li>
            <li (click)="toggleModel('SelectCategoryForm',true)">Select Category</li>
            <li (click)="toggleModel('AddItemForm',true)">Add Food Item</li>
        </ul>
    </div>

    <div class="food-items">

        <div *ngIf='!(food_items.length>0)' class="nothing">
            <p>No items added yet!</p>
            <button (click)='toggleModel("AddItemForm",true)'>Add Food Item</button>
        </div>
        <div *ngIf='food_items.length>0' class='list'>
            <div class="item" *ngFor='let i of food_items'>
                <div class="img">
                    <a href="assets/images/food_items/{{i.pic}}" target="_blank"><img src="assets/images/food_items/{{i.pic}}"></a>
                </div>
                <div class="details">
                    <div class="left-box">
                        <span class="item-name">{{i.fname}}({{i.quantity}})</span>
                        <span *ngIf='i.ingredients!=""' class="ingredients" title="Used Ingredients">{{i.ingredients.substring(0,20)}}...</span>
                        <span *ngIf='i.description!=""' class="description" title="More Information">{{i.description.substring(0,20)}}...</span>
                    </div>
                    <div class="right-box">
                        <span *ngIf='i.vegeterian' class="veg-nonveg veg" title="{{i.vegeterian}}"></span>
                        <span *ngIf='!i.vegeterian' class="veg-nonveg non-veg" title="{{i.vegeterian}}"></span>
                        <span class="price" title="Price">{{i.price}} &#8377;</span>
                    </div>
                </div>
                <div class="buttons">
                    <button name="edit" (click)='item=i;toggleModel("UpdateItemForm",true)'>Edit</button>
                    <button name="delete" (click)='deleteFoodItem(i.fid)'>Delete</button>
                </div>
            </div>
        </div>

    </div>
    
</div>






<!-- Models -->
<div id="Panel2">

    <div id="SelectCategoryForm">
        <i class="fas fa-times close" (click)="toggleModel('SelectCategoryForm',false)"></i>
        <p class="title">Select Category</p>
        <div class="group">
            <span class="category" (click)='getFoodItems("All")'>All</span>
            <span class="category" (click)='getFoodItems(cat.cname)' *ngFor='let cat of restCategories'>{{cat.cname}}</span>
        </div>
    </div>

    <form id="AddItemForm" #AddItemForm='ngForm' class="form" (ngSubmit)='addFoodItem()'>
        <p class="title">Add Food Item</p>
        <div class="group">
            <label>Name of food item: </label>
            <input type="text" #fname='ngModel' name="fname" [(ngModel)]='food_item.fname' maxlength="20" required>
            <small [class.d-none]='fname.valid || fname.untouched'>Food name cannot be empty.</small>
        </div>
        <div class="group">
            <div class="group flex numbers">
                <label for="price">Price(&#8377;): <input id="price" type="number" #price='ngModel' name="price" [(ngModel)]='food_item.price' required></label>
                <label for="quantity">Quantity: <input id="quantity" type="number" name="quantity" #quantity='ngModel' [(ngModel)]='food_item.quantity' required></label>
            </div>
            <small *ngIf='!(price.value>0) && price.touched'>Price should be greater than zero.</small>
            <small *ngIf='!(quantity.value>0) && quantity.touched'>Quantity should be greater than zero.</small>
            <small [class.d-none]='price.valid || price.untouched'>Price cannot be empty.</small>
            <small [class.d-none]='quantity.valid || quantity.untouched'>Quantity cannot be empty.</small>
        </div>
        <div class="group">
            <select style="cursor: pointer;" name="category" #category='ngModel' [(ngModel)]="food_item.cname" required>
                <option value="" selected disabled>Select Category</option>
                <option value="{{category.cname}}" *ngFor='let category of restCategories'>{{category.cname}}</option>
            </select>
            <small [class.d-none]='category.valid || category.untouched'>Please select a category.</small>
        </div>
        <div class="group">
            <input type="file" #pic='ngModel' ngModel name="pic" accept="image/*" required (change)='validateSize($event)'>
            <small [class.d-none]='pic.valid || pic.untouched'>Please select an image.</small>
            <small [class.d-none]='!fileSizeExceeded'>Image size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label>Keywords:</label>
            <input type="text" name="keywords" class="textfield" [(ngModel)]='food_item.keywords' pattern='[A-Za-z,]{0,200}[,]' #keywords='ngModel'>
            <small [class.d-none]='keywords.valid || keywords.untouched'>Enter comma after each keyword and only comma is allowed.</small>
        </div>
        <div class="group">
            <label>Ingredients:</label>
            <input type="text" name="ingredients" class="textfield" #ingredients='ngModel' [(ngModel)]='food_item.ingredients'>
        </div>
        <div class="group">
            <label>Description:</label>
            <input type="text" name="description" class="textfield" #description='ngModel' [(ngModel)]='food_item.description'>
        </div>
        <div class="group">
            <label for="vegeterian">
            <input type="checkbox" name="vegeterian" [(ngModel)]='food_item.vegeterian' id='vegeterian'>  Veg</label>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='AddItemForm.invalid || fileSizeExceeded' class="btn submitbtn" value="Submit">
            <input type="reset" class="btn cancelbtn" (click)='toggleModel("AddItemForm",false)' value="Cancel">
        </div>
    </form>

    <form #UpdateItemForm='ngForm' (ngSubmit)='updateItem(item)' class="form" id="UpdateItemForm">
        <p class="title">Update Food-Item Details</p>
        <div class="group">
            <label>Name of the food item:</label>
            <input type="text" #fname1='ngModel' name="fname1" maxlength="20" [(ngModel)]='item.fname' required>
            <small [class.d-none]='fname1.valid || fname1.untouched'>Food name cannot be empty.</small>
        </div>
        <div class="group">
            <div class="group flex numbers">
                <label for="price1">Price(&#8377;): <input id="price1" type="number" #price1='ngModel' name="price" [(ngModel)]='item.price'></label>
                <label for="quantity1">Quantity: <input id="quantity1" type="number" name="quantity" #quantity1='ngModel' [(ngModel)]='item.quantity'></label>
            </div>
            <small *ngIf='!(price1.value>0) && price1.touched'>Price should be greater than zero.</small>
            <small *ngIf='!(quantity1.value>0) && quantity1.touched'>Quantity should be greater than zero.</small>
            <small [class.d-none]='price.valid || price.untouched'>Price cannot be empty.</small>
            <small [class.d-none]='quantity.valid || quantity.untouched'>Quantity cannot be empty.</small>
        </div>
        <div class="group">
            <label>Category: </label>
            <select style="cursor: pointer;" name="category" #category1='ngModel' [(ngModel)]="item.cname" required>
                <option value="" selected disabled>Select Category</option>
                <option value="{{category.cname}}" *ngFor='let category of restCategories'>{{category.cname}}</option>
            </select>
            <small [class.d-none]='category1.valid || category1.untouched'>Please select a category.</small>
        </div>
        <div class="group">
            <label>Status: </label>
            <select style="cursor: pointer;" name="category" [(ngModel)]="item.status">
                <option value="Available" selected>Available</option>
                <option value="Out Of Stock">Out Of Stock</option>
            </select>
        </div>
        <div class="group">
            <input type="file" class="textfield" #pic1='ngModel' ngModel name="pic" accept="image/*" (change)='validateSize($event)'>
            <small [class.d-none]='!fileSizeExceeded'>Image size should be less than 500KB.</small>
        </div>
        <div class="group">
            <label>Keywords:</label>
            <input type="text" name="keywords" class="textfield" [(ngModel)]='item.keywords' pattern='[A-Za-z,]{0,200}[,]' #keywords1='ngModel'>
            <small [class.d-none]='keywords1.valid || keywords1.untouched'>Enter comma after each keyword and only comma is allowed.</small>
        </div>
        <div class="group">
            <label>Ingredients:</label>
            <input type="text" name="ingredients" class="textfield" #ingredients1='ngModel' [(ngModel)]='item.ingredients'>
        </div>
        <div class="group">
            <label>Description:</label>
            <input type="text" name="description" class="textfield" #description1='ngModel' [(ngModel)]='item.description'>
        </div>
        <div class="group">
            <label for="vegeterian1">
            <input type="checkbox" name="vegeterian" [(ngModel)]='item.vegeterian' id='vegeterian1'>  Veg</label>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='UpdateItemForm.invalid || fileSizeExceeded' value="Submit">
            <input type="button" (click)='toggleModel("UpdateItemForm",false)' value="Cancel">
        </div>
    </form>

    <form id="AddCategoryForm" #AddCategoryForm='ngForm' class="form" (ngSubmit)='addCategory(newCategory)'>

        <i class="fas fa-times close" (click)='toggleModel("AddCategoryForm",false)'></i>
        <span class="title" style="margin-bottom: 20px;">Add New Category</span>
        <div class="group">
            <label>Category Name: </label>
            <input type="text" name='cname' #cname='ngModel' maxlength="50" [(ngModel)]='newCategory.cname' required>
            <small [class.d-none]='cname.valid || cname.untouched'>Category name cannot be empty.</small>
        </div>
        <div class="group">
            <textarea name="description" cols="30" rows="10" placeholder="Enter description of category here..."></textarea>
        </div>
        <div class="buttons">
            <input type="submit" [disabled]='AddCategoryForm.invalid' value="Add Category">
        </div>

    </form>



</div>



